#container {
}

head {
  width: 100%;
  height: 25px;
  background-color: darkgrey;
}

#header {
height:30px; 
  width:100%; 
  background-color:black; 
  position:fixed; 
  top:0;
  left:0; 
  border-bottom:thin solid pink;"
}

#logo {
  color:white;
  font-size:16px;
  font-family:rubik;
  position:relative;
  display:inline;
  text-align:center;
  padding: 1px 25px;
  text-decoration:none
}

style="display:inline; font-family:rubik; font-size:21px"

nav {
  width:600px;
  margin:0 auto
}

li {
  float: left;
}

li a {
  display: inline-block;
}

.ss-footer {
  display: none;
}
