#header {
height:30px; 
  width:100%; 
  background-color:black; 
  position:fixed; 
  top:0;
  left:0; 
  border-bottom:2px solid pink;"
}

#logo {
  color:white;
  font-size:16px;
  font-family:rubik;
  font-weight:900;
  position:relative;
  display:inline;
  text-align:center;
  padding: 1px 25px;
  text-decoration:none
}

/* style="display:inline; font-family:rubik; font-size:21px"
style="display:inline;list-style-type:none;margin:0;padding:0;overflow:hidden;text-decoration:none"
*/

nav {
  width:600px;
  margin:0 auto
}

.navlink {
  color:white;
  font-size:12px;
  font-family:rubik;
  position:relative;
  display:inline;
  text-align:center;
  padding: 1px 25px;
  text-decoration:none"
}


li {
  float: left;
}

li a {
  display: inline-block;
}

.ss-footer {
  display: none;
}
